
body{
    font-family:'Roboto', sans-serif;
    margin:0;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

.take-one{
    display:flex;
    flex-direction: column;
    background-color:#1f2937;

}

ul{
    display:flex;
    list-style:none;
    padding:0;
    gap:20px;
}

a{
    text-decoration: none;
    color:#e5e7eb;
    font-size:18px;
    margin:0;
}

.subtext{
    color:#e5e7eb;
    font-size:18px;
    margin-bottom:6px;
}

.header{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.info{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    padding-top:50px;
    padding-bottom:50px;
}
.information{
    display:flex;
    flex-direction:column;
    width: 410px;
}

.header-logo{
    color:#f9faf8;
    font-size:24px;
}

#hero{
    color:#f9faf8;
    font-size:48px;
    font-weight:900;
}

.button{
    background-color:#3882f6;
    color:#f9faf8;
    width:80px;
    border-radius: 6px;
    border:none;
    padding: 3px;
}

.take-two{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:50px;
}

.images{
    display:flex;
    justify-content: center;
    align-items: center;
    width:700px;
    gap:30px;
}

.image-one,.image-two,.image-three,.image-four{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    text-align: center;
}

.images img{
    border-radius:8px;
}

h2{
    font-size:36px;
    font-weight:900;
    color:#1f2937;
}

.take-three{
    display:flex;
    background-color:#e5e7eb;
    padding:70px;
    justify-content: center;
    align-items: center;
}

.saying{
    font-size:36px;
    font-weight:300;
    color:#1f2937;
    margin:4px;
}

.quote{
    display:flex;
    width:820px;
    flex-direction:column;
}

.author{
    text-align:end;
    padding-right:25px;
    font-size:16px;
}